body {
  font-family: 'Roboto', serif;
  font-size: 48px;
  background: #FAF8D8;
  height: 100%;
}

.background {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content {
  color: white;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 8px;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  text-align: center;
  margin: 0px;
  font-size: 24px;
}

h5 {
  font-size: 1.25rem;
}

.header {
  margin-bottom: 24px;
}

/*Emoji*/
.twa {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em; }

.twa-lg {
  height: 1.33em;
  width: 1.33em;
  margin: 0 0.0665em 0 0.133em;
  vertical-align: -0.133em;
  background-size: 1.33em 1.33em; }

.twa-2x {
  height: 2em;
  width: 2em;
  margin: 0 0.1em 0 0.2em;
  vertical-align: -0.2em;
  background-size: 2em 2em; }

.twa-3x {
  height: 3em;
  width: 3em;
  margin: 0 0.15em 0 0.3em;
  vertical-align: -0.3em;
  background-size: 3em 3em; }

.twa-4x {
  height: 4em;
  width: 4em;
  margin: 0 0.2em 0 0.4em;
  vertical-align: -0.4em;
  background-size: 4em 4em; }

.twa-5x {
  height: 5em;
  width: 5em;
  margin: 0 0.25em 0 0.5em;
  vertical-align: -0.5em;
  background-size: 5em 5em; }


.container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.panel-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

.panel-title h1 {
  line-height: 1em;
  font-size: 1.2em;
  margin-top: 0px;
  margin-bottom: 20px;
}

.panel-title span {
  font-size: 0.8em;
  line-height: 0;
  margin: 0;
}

.panel-weekly {
  background: #F8CF46;
  border-radius: 30px;
  width: 90%;
  height: 75%;
  display: flex;
}

.panel-weekly .col.col-title {
  width: 10%;
}

.panel-weekly .col.col-title .row {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.panel-weekly .col {
  width: 18%;
  position: relative;
  border-right: 2px solid #FFFFFF;
}

.panel-weekly .col:last-child {
  border-right: none;
}

.panel-weekly .col .row {
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #FFFFFF;
  display: flex;
  position: relative;
}

.panel-weekly .col .row:last-child {
  border-bottom: none;
}


.panel-weekly .date {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.5em;
  font-weight: normal;
  color: #FFFFFF;
}

.avatar-list {
  margin-top: 50px;
}

.avatar {
  width: calc(100vh/16);
  height: calc(100vh/16);
  border-radius: 50%;
  background-color: gray;
  margin: 5px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}