body {
  font-family: 'Roboto', serif;
  font-size: 48px;
}

.background {
  height: 100vh;
  background-image: url("https://i.pinimg.com/originals/26/63/62/26636227d2f07e5a301a6f6ef915accc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
}

.content {
  color: white;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 8px;
}

h4 {
  text-align: center;
  margin: 0px;
  font-size: 24px;
}

.header {
  margin-bottom: 24px;
}

table {
  width: 80%;
  margin: auto;
  border: 3px solid rgba(119, 119, 119, 0.5);
  border-collapse: collapse;
  padding: 0;
  table-layout: fixed;
}

tr {
  height: 320px;
  vertical-align: top;
  border: 2px solid rgba(119, 119, 119, 0.5);
  background-color: rgba(119, 119, 119, 0.4);
}

th {
  width: 15%;
  vertical-align: middle;
  font-size: 28px;
}

td {
  vertical-align: top;
  font-size: 24px;
  font-weight: 700;
  padding-left: 30px;
  padding-top: 30px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: gray;
  margin: 5px;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/*Emoji*/
.twa {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em; }

.twa-lg {
  height: 1.33em;
  width: 1.33em;
  margin: 0 0.0665em 0 0.133em;
  vertical-align: -0.133em;
  background-size: 1.33em 1.33em; }

.twa-2x {
  height: 2em;
  width: 2em;
  margin: 0 0.1em 0 0.2em;
  vertical-align: -0.2em;
  background-size: 2em 2em; }

.twa-3x {
  height: 3em;
  width: 3em;
  margin: 0 0.15em 0 0.3em;
  vertical-align: -0.3em;
  background-size: 3em 3em; }

.twa-4x {
  height: 4em;
  width: 4em;
  margin: 0 0.2em 0 0.4em;
  vertical-align: -0.4em;
  background-size: 4em 4em; }

.twa-5x {
  height: 5em;
  width: 5em;
  margin: 0 0.25em 0 0.5em;
  vertical-align: -0.5em;
  background-size: 5em 5em; }

.twa-house-with-garden {
  background-image: url("https://twemoji.maxcdn.com/svg/1f3e1.svg"); }

.twa-palm-tree {
  background-image: url("https://twemoji.maxcdn.com/svg/1f334.svg"); }
